<table class="table table-hover table-borderless">
        <thead>
          <tr>
            <th scope="col">Done?</th>
            <th scope="col">Who asked?</th>
            <th scope="col">Who did it?</th>
            <th scope="col">What to do?</th>
            <th scope="col">Created on</th>
            <th scope="col">Delete</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><input type="checkbox"></th>
            <td>Pepito</td>
            <td>Grillo</td>
            <td>Comprar pasta de dientes</td>
            <td>6-julio-19</td>
            <td><button class="btn btn-danger">Delete</button></td>
            <td><button  class="btn btn-info">Edit</button></td>
          </tr>
        </tbody>
      </table>

