<div class="container section">
    <h2>We know, there are a lot of things you have to remember. Things to do,things to buy, places to go... you name it.</h2>
    <h3>That is why I thought in do this... I think it can help you and your partner, friend, roomate, whatever, to organize things needed to be done. 'Cause it is not fair that only one uf us thinks about this stuff! Am I right??</h3>
    <h3>So, without further ado... behold "The Home Reminder!"</h3>
    <p>As simple as ad a task, put who has to it and what it needs to be done. For example: John needs to buy milk</p>
    <p>The first time you'll have to write John's email... next time it will appear in your contact book ;)</p>
</div>
